<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin</h1>
  </header>
<h4>Store Statistics</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= link_to 'Products', [:admin, :products] %></th>
      <td><%=  @products_count %></td>
    </tr>
    <tr>
      <th scope="row">Categories</th>
      <td><%=  @categories_count %></td>
    </tr>
  </tbody>
</table>
</section>