<section class="about-index">

  <header class="page-header">
    <h1>About Jungle Rails</h1>
  </header>
  <p>Jungle Rails is a web store using the Ruby on Rails server framework.</p>
  <p>As you can tell, we sell some pretty random items.</p>

</section>